body{
  background-color: white;
  text-align: center;
  margin: 150px 300px;
  font-family: 'Nova Square', cursive;
  color: black;
  display: flex;

}

h1{
  font-size: 80px;
}


.title{
  flex-wrap: wrap;
  padding-right: 40px;

}
